<div class="row">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>
	<div class="col-md-10 marksheet" ng-controller="StafflistCtrl">
		<div class="printonly"><h3>Staff List</h3></div>

		<!-- Subject View -->
	  	<div class="row" style="font-size:7">
			<div class="col-md-12">
				<table class="table table-striped table-bordered" style="font-size:12px">
					<thead>
						<tr>
							<th>{{dict.specialty}}</th>
							<th>{{dict.longevity}}</th>
							<th style="width:300px;">{{dict.name}}</th>
							<th>{{dict.matrical_number}}</th>
							<th>{{dict.salary}}</th>
							<th>{{dict.region_of_origin}}</th>
							<th>{{dict.division_of_origin}}</th>
							<th>{{dict.subdivision_of_origin}}</th>
							<th>{{dict.tribe}}</th>
							<th>{{dict.grade}}</th>
							<th>{{dict.marital_status}}</th>	
							<th style="width:200px;">{{dict.entry_into_service}}</th>
							<th>{{dict.duty_post}}</th>
							<th style="width:200px;">{{dict.date_posted}}</th>
							<th>{{dict.sex}}</th>
							<th>{{dict.contact}}</th>
							<!-- <th>Email</th> -->
							<!-- <th class="noprint">Remove</th> -->					
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(staffId, staff) in  data.staff" ng-if="staff.username !== 'admin'">
							<td>{{staff.specialty}}</td>
							<td>{{getServiceYears(staff.dateofentry)}}</td>
							<td style="width:300px;">
								<a ng-click ="open({subpage:staff.username,page:'user'})" >{{staff.fullname}}</a></td>
							<td>{{staff.matricalno}}</td>
							<td>{{staff.salary > 0 ? (staff.salary | number:0) : ""}}</td>
							<td>{{staff.region}}</td>
							<td>{{staff.division}}</td>
							<td>{{staff.subdivision}}</td>
							<td>{{staff.tribe}}</td>
							<td>{{staff.grade}}</td>
							<td>{{staff.maritalstatus}}</td>
							<td>{{staff.dateofentry}}</td>
							<td>{{staff.dutypost}}</td>
							<td>{{staff.dateposted}}</td>
							<td>{{staff.sex}}</td>
							<td>{{staff.phoneNo}}</td>
							<!-- <td>{{staff.staffEmail}}</td> -->
							<!-- <td class="remove text-center noprint" style="width:80px;">
								<a ng-click="remove(staff)">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td> -->
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	

