<div class="row ">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>

	<div class="col-md-10 marksheet" ng-controller="RegistrationCtrl">

  <div class="row">
  	<div class="col-md-7" style="border-right:solid 0px #ddd;">
  		<form name="regform" class="form-horizontal form-registration" role="form">
			  <div class="form-group">
			    <label for="uid" class="col-sm-3 control-label">Staff ID</label>
			    <div class="col-sm-9">
			      <p class="form-control-static">{{newStaff.id}}</p>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="uid" class="col-sm-3 control-label">Class</label>
			    <div class="col-sm-9">
			      <div class="btn-group">
					    <button class="btn btn-sm btn-default dropdown-toggle
					    {{showValidation && newStaff.formIndex === null ? 'invalid-input' : ''}}" data-toggle="dropdown">
					      {{newStaff.formIndex || newStaff.formIndex === 0 ? data.forms[newStaff.formIndex].name : "Select Form"}}  
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(formIndex, form) in data.forms">
					        <a ng-href="" ng-click="newStudent.formIndex=formIndex">{{form.name}}</a>
					      </li>
					    </ul>
					  </div>
					  <!-- Department Dropdown -->
					  <div class="btn-group">
					    <button class="{{newStudent.formIndex === null ? 'disabled' : ''}} btn btn-sm btn-default dropdown-toggle
					    {{showValidation && newStudent.deptId === null ? 'invalid-input' : ''}}" data-toggle="dropdown">
					      {{newStudent.deptId ? data.departments[newStudent.deptId].name : "Select Department"}} 
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(deptId, dept) in data.departments"
					          ng-if="dept.forms[newStudent.formIndex] === 1">
					        <a ng-click="newStudent.deptId = deptId">{{dept.name}}</a>
					      </li>
					    </ul>
					  </div>
			      <!-- Group Dropdown -->
					  <div class="btn-group">
					    <button class="{{newStudent.deptId === null ? 'disabled' : ''}} btn btn-sm btn-default dropdown-toggle
					    {{showValidation && newStudent.groupId === null ? 'invalid-input' : ''}}" data-toggle="dropdown">
					      {{newStudent.groupId ? data.groups[newStudent.groupId].name : "Select Group"}} 
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(groupId, group) in data.groups">
					        <a ng-click="newStudent.groupId = groupId">{{group.name}}</a>
					      </li>
					    </ul>
					  </div>
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="feeGroup" class="col-sm-3 control-label">Salary Group</label>
			    <div class="col-sm-9">
			    	<div class="btn-group">
					    <button class="btn btn-sm btn-default dropdown-toggle 
					    {{showValidation && newStudent.feeId === null ? 'invalid-input' : ''}}" data-toggle="dropdown">
					    	<span ng-if="newStudent.feeGroup !== ''">
					    		{{newStudent.feeId ? data.fees[newStudent.feeId].name : "Select Fee"}} 
					    		<span ng-if="newStudent.feeId">
						    		({{data.fees[newStudent.feeId].schoolAmount + data.fees[newStudent.feeId].ptaAmount | currency:""}})
					    		</span>
					    	</span>
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(feeKey, fee) in data.fees">
					        <a ng-click="newStudent.feeId = feeKey">
					        {{fee.name}} ({{fee.schoolAmount + fee.ptaAmount | currency:""}})</a>
					      </li>
					    </ul>
						</div>
			    </div>
			  </div>
			  <br>
			  <div class="form-group">
			    <label for="staffName" class="col-sm-3 control-label">Staff Name</label>
			    <div class="col-sm-9">
			      <input id="staffName"
			      			name="staffName" 
			      		 class="form-control {{showValidation && newStudent.name === '' ? 'invalid-input' : ''}}" 
			      		 placeholder="Staff Name" 
			      		 ng-model="newStudent.name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="birthdate" class="col-sm-3 control-label">Birthdate</label>
			    <div class="col-sm-9">
			      <input id="birthdate" 
			       		 class="form-control {{showValidation && newStudent.birth === null ? 'invalid-input' : ''}}" 
			       		 placeholder="Birth Date" 
			       		 ng-model="newStudent.birth"
			       		 type="date">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="birthplace" class="col-sm-3 control-label">Place of Birth</label>
			    <div class="col-sm-9">
			      <input id="birthplace" 
			      		 class="form-control" 
			      		 placeholder="Place of Birth" 
			      		 ng-model="newStudent.birthplace">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="feeGroup" class="col-sm-3 control-label">Gender</label>
			    <div class="col-sm-9">
			      <div class="btn-group">
			        <button class=" btn btn-sm btn-default dropdown-toggle 
			        {{showValidation && newStudent.sex === '' ? 'invalid-input' : ''}}" data-toggle="dropdown">
			          <span>{{newStudent.sex || "Select Gender"}}</span>
			          &nbsp;<span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu">
			          <li ng-repeat="gender in ['Female', 'Male']">
			            <a ng-click="newStudent.sex = gender">{{gender}}</a>
			          </li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <br>
			  <!-- <div class="form-group">
			    <label for="parentName" class="col-sm-3 control-label">Parent Name</label>
			    <div class="col-sm-9">
			      <input id="parentName" 
			      		 class="form-control {{showValidation && newStudent.parentName === '' ? 'invalid-input' : ''}}" 
			      		 placeholder="Parent Name" 
			      		 ng-model="newStudent.parentName">
			    </div>
			  </div> -->
			  <div class="form-group">
			    <label for="residence" class="col-sm-3 control-label">Residence</label>
			    <div class="col-sm-9">
			      <input id="residence" 
			      		 class="form-control" 
			      		 placeholder="Residence" 
			      		 ng-model="newStudent.residence">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="staffPhone" class="col-sm-3 control-label">Staff Phone</label>
			    <div class="col-sm-9">
			      <input id="staffPhone"
			      		 class="form-control {{showValidation && newStudent.parentPhone === '' ? 'invalid-input' : ''}}" 
			      		 placeholder="Staff Phone" 
			      		 ng-model="newStudent.parentPhone">
			    </div>
			  </div>
			  <!-- <div class="form-group">
			    <label for="parentOccupation" class="col-sm-3 control-label">Parent Occupation</label>
			    <div class="col-sm-9">
			      <input id="parentOccupation" 
			      		 class="form-control" 
			      		 placeholder="Parent Occupation" 
			      		 ng-model="newStudent.parentOccupation">
			    </div>
			  </div> -->
			  <div class="form-group">
			    <label for="staffEmail" class="col-sm-3 control-label">Staff Email</label>
			    <div class="col-sm-9">
			      <input id="staffEmail" 
			             class="form-control pull-left {{showValidation && newStudent.staffEmail === '' ? 'invalid-input' : ''}}" 
					     placeholder="Staff EMail"
					     ng-model="newStudent.parentEmail">
			    </div>
			  </div>
			  <br>
			  <div class="form-group">
			    <div class="col-sm-offset-3 col-sm-3">
			      <button type="submit" class="btn btn-info" ng-click="add(newStudent)">
			        Add Staff
			      </button>
			    </div>
			    <div class="col-sm-offset-1 col-sm-5">
			      <button type="submit" class="btn btn-info" ng-click="clearForm(newStudent)">
			        Clear All
			      </button>
			    </div>
			  </div>
			  <div class="alert alert-sm alert-warning" style="height:45px;padding-top:10px;" ng-if="showValidation">
   				<i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;
   				<strong>Staff Not Added.</strong> Please fill in all fields highlighted in red and try again.
   			  </div>
			</form>
  	</div>
  	<div class="col-md-5">
  	</div>
  </div>
  </div>
	
</div>	

